BACKEND_HOST=onionary-test.malaber.de
# Generate different hex values with: openssl rand -hex 32
POSTGRES_PASSWORD=replace-with-random-hex
SECRET_KEY=replace-with-another-random-hex
ONIONARY_IMAGE=ghcr.io/malaber/what-should-we-eat:development
